nav {
    
    text-align: center;
    background-color: darkblue;
    width: 435px;
    margin: 0 auto;
    display: flex;
    position: fixed;
}


nav ul {

    display: inline-block;
    list-style-type: none;
}

/*
.nav-wrapper {
    
    position:absolute;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    
}

.nav-wrapper ul {
    
    margin: 0;
    padding 0;
    display: inline-block;
    
}
*/
#nav-wrapper li {
    
    display: inline;
    text-align: center;
    display: inline-block;
}

#nav-wrapper a {
    
    color:pink;
    text-decoration: none;
    font-family: "Helvetica";
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    
}

#nav-wrapper a:hover {
    
    color: blue;
    
}


#HOME {
    
    background-color: blue;
    height: 730px;

        
}

#PICTURES {
    
    background-color: lightblue;
    height: 730px;

    
}

#PICTURES blockquote {
    
    height: 500px;


}

#ABOUT {
    
    background-color: skyblue;
    height: 730px;
    
}

#CONTACT {
    
    background-color: aliceblue;
    height: 730px;
    
}

#footer {
    
    background-color: aliceblue;
    height: 20px;  
}

.header {
    
    font-family: "Helvetica";
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

#p_home {
    
    font-family: "Helvetica";
    font-style: bold;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
    
}

#p_home:hover {
    
    color: pink;
    
}

.p_about {
    
    font-family: "Helvetica";
    font-style: bold;
    text-align: center;
    font-size: 20px;
    color: royalblue;
    
}

.p_about:hover {
    
    color: pink;
    
}

.p_contact {
    
    font-family: "Helvetica";
    font-style: bold;
    text-align: center;
    font-size: 20px;
    color: blue;
    
}

.p_contact:hover {
    
    color: pink;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 90px;
}



.link {
    
    text-decoration:none; 
    color: lime; 
    
}

.link:hover {
    
    color:blue;
    
}

/*
.instagram-media{
    
  margin: 15px auto !important;
    
}*/
